<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>NYC Taxi Fare Estimation Application</title>
  </head>
  <body>
    <h1> Hello! </h1>

    <form role="form" method='POST' action='/result'>
        <div class="form-group">
          <h3> How many passengers? </h3>
          <input type="text" name="num_passenger" class="form-control" id="url-box" placeholder="3" style="max-width: 300px;" autofocus required>
          <h3> How far are you traveling? </h3>
          <input type="text" name="distance" class="form-control" id="url-box" placeholder="2.5 miles" style="max-width: 300px;" autofocus required>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>



  </body>
</html>
